
.text {
  font-size: 150%;
}

.answer {
  display: flex;
  align-items: center;

  .answer-text {
    margin-left: 10px;
  }
}


.next-prev {
  margin-top: 30px;
  margin-bottom: 15px;
}

.list-group {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}
