
.text {
  font-size: 150%;
}

.answer {
  display: flex;
  align-items: center;

  .answer-text {
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    &.correct {
      background-color: rgba(40, 167, 69, 0.12941176470588237);
    }

    &.wrong {
      background-color: rgba(220, 53, 69, 0.10980392156862745);
    }
  }

  .answer-image {
    cursor: pointer;
  }
}


.next-prev {
  margin-top: 30px;
  margin-bottom: 15px;
}

.list-group {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.question-text {
  border: 1px solid #666;
}

.script {
  white-space: pre-wrap;
  border: 1px solid #ccc;
}

audio {
  width: 100%;
}
