<div class="container main-container">
  <div class="row">
      <div class="col-lg-12">
          <nav>
              <ul class="pagination pagination-sm flex-wrap justify-content-center">
                  <li class="page-item" *ngFor="let question of questions"
                      [ngClass]="{'active': isActive(question)}">
                      <a class="page-link" href="javascript:void(0)" (click)="selectQuestion(question)"
                          [ngClass]="getQuestionNgClass(question)">{{question.id}}</a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <app-question-view [question]="selectedQuestion"></app-question-view>
  <div class="row actions-row">
    <div class="col-lg-12">
        <div class="row next-prev">
            <button *ngIf="!isFirstQuestion(selectedQuestion)"
                    type="button" class="btn btn-light btn-lg col-lg-2 col-12 col-sm-3 order-2 order-sm-1"
                    (click)="goToPreviousQuestion()">Previous</button>
            <button *ngIf="!isLastQuestion(selectedQuestion)"
                    type="button" class="btn btn-light btn-lg col-lg-2 col-12 col-sm-3 order-1 order-sm-2 btn-next"
                    (click)="goToNextQuestion()">Next</button>
        </div>
    </div>
  </div>
</div>


