nav {
  li.page-item {
    a.page-link {
      &.success {
        background: #28a745;
        color: white;
      }

      &.danger {
        background: #dc3545;
        color: white;
      }
    }
  }
}

.actions-row {
  margin-top: 30px;
  margin-bottom: 15px;

  .next-prev {
    padding-left: 15px;
    padding-right: 15px;

    .btn {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 767px) {
      .btn-next {
        margin-left: 10px;
      }
    }
  }
}
