nav {
  li.page-item {
    a.page-link {
      &.success {
        background: #28a745;
        color: white;
      }

      &.danger {
        background: #dc3545;
        color: white;
      }
    }
  }
}

.actions-row {
  margin-top: 30px;
  margin-bottom: 15px;
}
