.nav-link {
  padding: 2px 8px;
}

.text {
  font-size: 30px;
}

.answer {
  display: flex;
  align-items: center;
  .answer-text {
    margin-left: 10px;
  }
}


.actions-row {
  margin-top: 20px;
}
