<header class="masthead text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Practice TOPIK tests</h1>
        <p class="lead font-weight-normal">Select a test below to start</p>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row">
    <div class="col-lg-3 col-sm-4" *ngFor="let test of tests">
      <div class="card">

        <div class="card-body">
          <div class="card-title text-center">{{test.id}} TOPIK I</div>
          <button type="button" class="btn btn-block btn-lg btn-primary"
             [disabled]="test.questions.length < 30"
             routerLink="/tests/{{test.id}}">Listening</button>
          <button type="button" class="btn btn-block btn-lg btn-primary"
             [disabled]="test.questions.length < 70"
             routerLink="/tests/{{test.id}}">Reading</button>
        </div>
      </div>
    </div>
  </div>
</div>
